<div class="login-modal">
  <div class="login-modal-body">
    <div class="modal-header">
      <button class="close" (click)="modalService.close();">X</button>
      <h1 class="Title">Iniciar Sesion</h1>
    </div>

    <div class="form">

      <div class="form-group">
        <label for="username" class="label-left">Nombre de usuario:</label>
        <input type="text" id="username" name="username">
      </div>

      <div class="form-group">
        <label for="password" class="label-left">Contraseña:</label>
        <input type="password" id="password" name="password">
      </div>

      <button class="logIn" >Log-In</button>
    </div>
  </div>
</div>
