



<div  style="padding:09px 350px 0px 356px;">


<div class="div2" *ngFor="let sueldo of sueldos" style="margin-left: 36.2px;height: 300px;margin-right: 63px;cursor: pointer;
margin-top: 70px;    margin-bottom: 60px;">



 <mat-card class="example-card" style="background-color: #D9D9D9;border-radius: 10px 10px 0px 0px;">
  <img mat-card-image src="assets/img/companies/indra.jpg" alt="Photo of a Shiba Inu" style="border-radius: 0px 0px 30px 30px;">
  <mat-card-content style="background-color: #D9D9D9;
  border-radius: 0px 0px 20px 20px;">
    <h2>Jobie</h2>
    <p style="overflow: hidden;" matTooltip="asdaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa">
      Jobie es una empresa dedicada al desarrollo de software asdaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa asdaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    </p>
  </mat-card-content>

</mat-card>




</div>
</div>
